<div class="iap-signup-form">
	<h1 class="iap-signup-form__header">Account creation</h1>
	<form
		class="iap-signup-form__form"
		[formGroup]="signupForm"
		(ngSubmit)="onSubmit()"
	>
		<section class="iap-signup-form__login iap-input-field">
			<label class="iap-input-field__label">Email address</label>
			<input
				class="iap-input-field__input"
				formControlName="login"
			/>
			<div
				class="iap-input-field__errors"
				*ngIf="signupForm.controls['login'] | isControlInvalid"
			>
				<h4 *ngIf="signupForm.controls['login'].errors?.['login']">Field is required!</h4>
				<h4 *ngIf="signupForm.controls['login'].errors?.['email']">Must be an email!</h4>
				<h4 *ngIf="signupForm.controls['login'].errors?.['isLoginUnique']">Already taken!</h4>
			</div>
		</section>

		<section class="iap-signup-form__username iap-input-field">
			<label class="iap-input-field__label">Username</label>
			<input
				class="iap-input-field__input"
				formControlName="username"
			/>
			<div
				class="iap-input-field__errors"
				*ngIf="signupForm.controls['username'] | isControlInvalid"
			>
				<h4 *ngIf="signupForm.controls['username'].errors?.['required']">Field is required!</h4>
				<h4 *ngIf="signupForm.controls['username'].errors?.['minlength']">Length is too small!</h4>
				<h4 *ngIf="signupForm.controls['username'].errors?.['maxlength']">Length is too big!</h4>
			</div>
		</section>

		<section class="iap-signup-form__birth-date iap-input-field">
			<label class="iap-input-field__label">Date of birth</label>
			<input
				type="date"
				class="iap-input-field__input"
				formControlName="birthDate"
			/>
		</section>

		<section class="iap-signup-form__description iap-input-field">
			<label class="iap-input-field__label">About you</label>
			<textarea
				class="iap-input-field__input"
				formControlName="description"
				rows="4"
			></textarea>
		</section>

		<section class="iap-signup-form__password iap-input-field">
			<label class="iap-input-field__label">Password</label>
			<input
				type="password"
				class="iap-input-field__input"
				formControlName="password"
			/>
			<div
				class="iap-input-field__errors"
				*ngIf="signupForm.controls['password'] | isControlInvalid"
			>
				<h4 *ngIf="signupForm.controls['password'].errors?.['required']">Field is required!</h4>
				<h4 *ngIf="signupForm.controls['password'].errors?.['minlength']">Length is too small!</h4>
				<h4 *ngIf="signupForm.controls['password'].errors?.['maxlength']">Length is too big!</h4>
			</div>
		</section>

		<section class="iap-signup-form__password-confirmation iap-input-field">
			<label class="iap-input-field__label">Password confirmation</label>
			<input
				type="password"
				class="iap-input-field__input"
				formControlName="passwordConfirmation"
			/>
			<div
				class="iap-input-field__errors"
				*ngIf="signupForm.controls['passwordConfirmation'] | isControlInvalid"
			>
				<h4 *ngIf="signupForm.controls['passwordConfirmation'].errors?.['required']">Field is required!</h4>
				<h4 *ngIf="signupForm.controls['passwordConfirmation'].errors?.['matchControls']">Does not match with password!</h4>
			</div>
		</section>

		<div class="iap-signup-form__error">
			<ng-content> </ng-content>
		</div>
		<input
			type="submit"
			class="iap-signup-form__submit-button"
			value="Sign Up"
			[disabled]="signupForm | isControlInvalid"
		/>
	</form>
</div>
