@import '/src/scss/constants.scss';
@import '/src/scss/mixins.scss';

.iap-dropdown {
	&__items {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease, visibility 0s;
		list-style-type: none;
		padding: 0;
		margin: 0;
		z-index: 5;
	}

	&:hover {
		.iap-dropdown__items {
			visibility: visible;
			opacity: 1;
		}
	}
}
