@import '../../../../../scss/constants.scss';
@import '../../../../../scss/mixins.scss';

.dropdown {
	position: absolute;
	list-style: none;
	padding: 5px 8px;
	z-index: 5;
	background: linear-gradient($base-color, $second-color);
	box-shadow: 3px 3px 10px black;
	margin: 0;

	&__item {
		line-height: 25px;
		min-width: 50px;
	}

	&__item:hover {
		text-shadow: 2px 2px 5px black;
		cursor: pointer
	}

}
