<div class="iap-slide">
	<div class="iap-slide__avatar"></div>

	<div class="iap-slide__information">
		<h1 class="iap-slide__title">{{ data.name }}</h1>
		<div class="iap-slide__screenshot-grid">
			<div class="iap-slide__screenshot"></div>
			<div class="iap-slide__screenshot"></div>
			<div class="iap-slide__screenshot"></div>
			<div class="iap-slide__screenshot"></div>
		</div>
		<p class="iap-slide__description">{{ data.description }}</p>
		<div class="iap-slide__price">
			<label>
				{{ data.price || 'free' }}
				<ng-container *ngIf="data.price">$</ng-container>
			</label>
		</div>
	</div>
</div>
