<div class="header">
	<div class="header__logo">
	</div>
	<nav class="header__nav">
		<div class="header__link" (mouseover)="onMouseOver(1)" (mouseout)="onMouseOut()">

			<a routerLink="/index" routerLinkActive="active">Shop</a>

			<app-dropdown
				[values]="shopDropdownOptions"
				class="header__dropdown"
				[ngClass]="{header__dropdown_active: activeDropdown == 1}"
				(select)="onSelectOption($event)"
			></app-dropdown>
		</div>
		<div class="header__link" (mouseover)="onMouseOver(2)" (mouseout)="onMouseOut()">

			<a routerLink="/index" routerLinkActive="active">Community</a>

			<app-dropdown
				[values]="communityDropdownOptions"
				class="header__dropdown"
				[ngClass]="{header__dropdown_active: activeDropdown == 2}"
				(select)="onSelectOption($event)"
			></app-dropdown>
		</div>
		<a
			class="header__link"
			routerLink="/index"
			routerLinkActive="active"
			(mouseover)="onMouseOver(3)"
			(mouseout)="onMouseOut()"
		>About us</a>
		<a
			class="header__link"
			routerLink="/index"
			routerLinkActive="active"
			(mouseover)="onMouseOver(4)"
			(mouseout)="onMouseOut()"
		>Support</a>
	</nav>
	<div class="header__global-actions">
		<a routerLink="/index" routerLinkActive="active">sign up</a>
	</div>


</div>
