@import '../../../../../scss/constants.scss';
@import '../../../../../scss/mixins.scss';

.header {
	@include font($base-font, 600, calc( (100vw - 50rem)/45 + 1rem));
	background: linear-gradient($base-color, $second-color);
	padding: 10px $base-padding;
	display: flex;
	align-items: center;

	&__nav {
		justify-content: space-evenly;
		width: 79%;
		display: flex;
		flex-direction: row;
	}

	&__link, a {
		color: $nav-link-color;
		text-transform: uppercase;
	}

	&__link:hover, a:hover {
		color: $nav-link-active-color;
	}

	&__logo {
		width: 120px;
		height: 60px;
		background-color: grey;
	}

	&__global-actions {
		@include font($base-font, 400, calc( (100vw - 60rem)/90 + 1rem));
		margin-bottom: 40px;
		white-space: nowrap;
	}

	&__dropdown {
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s ease, visibility 0s;

		&_active {
			visibility: visible;
			opacity: 1;
		}
	}



}




