.page {
	padding: 50px
}

.carousel {
	width: 900px;
	height: 400px;
	padding: 50px
}


.card-container {
	width: 300px;
	height: 400px;
}

.asymetric-board-container {
	width: 900px;
	height: 400px;
	padding: 50px;
}
