$base-padding: 10%;


$text-size: 16px;
$header-size: 24px;

$base-color: rgb(17, 12, 92);
$second-color: rgb(92, 1, 104);
$nav-link-color: rgb(214, 214, 214);
$nav-link-active-color: #fff;

@font-face {
	font-family: Vinslab;
	src: url(../assets/fonts/VinSlabPro-Light_0.ttf);
}


$base-font: Vinslab;
$second-font: 'Arial';

