<div class="carousel">
	<div class="carousel__slide-container">
		<ng-template slideHost></ng-template>
	</div>

	<div
		class="carousel__prev-button"
		(click)="onPrevButtonClick()"
	>
		<span class="carousel__prev-button-label"><</span>
	</div>

	<div
		class="carousel__next-button"
		(click)="onNextButtonClick()"
	>
		<span class="carousel__next-button-label">></span>
	</div>

	<ul class="carousel__pages">
		<li
			*ngFor="let slide of slides; let i = index"
			class="carousel__pages-button"
			[ngClass]="{ 'carousel__pages-button_selected': currentSlideIndex === i }"
			(click)="selectSlide(i)"
		></li>
	</ul>
</div>
